#depts{background-color:rgb(202,103,87);
height:400px;
}

#deptContainer{
	margin:0 auto;
	width: 1000px;	
}

#gd_info{
	opacity:0;
	width: 500px;
	height: 50px;
	text-align: justify;
	margin: 0 auto;
	padding-top: 20px;
	font-family: 'Raleway', sans-serif;	font-style: normal;
	font-weight: 300;
	font-size: medium;
	color:white;
	-webkit-transition: opacity 2s; /* Safari */
    transition:opacity 2s;
}

#deptContainer>div{
	background-color: white;
	border-radius: 50%;
	width: 150px;
	height: 85px;
	text-align: center;
	margin-left: 133px;
	margin-top: 158px;
	margin-bottom: 40px;
	font-family: 'Raleway', sans-serif;
	color: rgb(153,81,80);
	font-style: normal;
	font-weight: 400;
	padding-top: 65px;
}


#deptContainer #col1{
	float:left;
	margin-left: 0px;
}

#col2,#col3,#col4{
	float:left;
}

#port_info{
	padding-top:200px;
	height:500px;
	background-image: url(back_pattern.png);
	text-align:center;
	font-family:'Raleway', sans-serif;	font-style: normal;
	font-style: normal;
  	color: rgb(153,81,80); 
  	font-size:1.25em;
  	line-height:1.25em;
}

#col1:hover,#col2:hover,#col3:hover,#col4:hover{
	box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.35);
}